$font-family: "Montserrat";
//semi bold: 600;
//cor: #9bb968
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
body {
  font-family: $font-family;

  background-color: #f5f8f1;
}

header {
  width: 1200px;
  margin: 31px 145px 0px 145px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .main-nav {
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      font-weight: 500;
    }

    a {
      text-decoration: none;
      color: #191816;
    }
    a:hover {
      color: #9bb968;
    }
    li {
      list-style: none;
      margin-right: 40px;
    }
    .main-nav-phone {
      font-weight: 600;
      color: #9bb968;
      font-size: 19.97px;
      letter-spacing: 1.19px;
      margin-right: 43px;
    }
    .request-call-button {
      width: 228px;
      height: 48px;
      padding: 13px 45px;
      border: 1px solid #9bb968;
      font-size: 15px;
      font-weight: 600;
      color: #191816;
      text-decoration: none;
      text-align: center;
      background-color: #f5f8f1;
      letter-spacing: 1.2px;
    }
  }
  .side-nav {
    height: 250px;
    margin: 133px 0 0 100px;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 15px;
      height: 250px;
    }
    li {
      list-style: none;
      text-align: center;
    }
    .side-nav-item {
      width: 1px;
      height: 32px;
      margin-bottom: 10px;
      background-color: #9bb968;
    }
    .side-nav-index {
      margin: 18.5px 0;
      color: #9bb968;
      font-size: 12px;
      font-weight: 600;
    }
  }
  .header-hero-phrase {
    font-weight: 600;
    margin-top: 160px;

    p {
      font-size: 48px;
      margin-bottom: 33.6px;
      // line-height: 52pt;
      letter-spacing: 0.96px;

      .yellow-hightlight {
        background-color: #edce47;
      }
    }
    .header-hero-cta {
      width: 186px;
      height: 54px;
      font-size: 16px;
      letter-spacing: 1.6px;
      background-color: #edce47;
      font-weight: 600;
      border: none;
    }
  }
  .header-hero-img-container {
    margin-top: 86px;
    margin-left: 124px;
  }
}
.big-phrase-container {
  .shadow {
    opacity: 1;
  }
  p {
    font-size: 262px;
    font-weight: 900;
    color: #f5f8f1;
    position: relative;
    top: -300px;
    left: -30px;
  }
  .wave {
    position: relative;
    top: -480px;
  }
  .glow {
    width: 1400px;
    height: 225px;
    background-color: white;
    position: absolute;
    top: 500px;
    opacity: 0.1;
  }
}
